.App-header {
  background: #131c27;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.App-navigation__list {
  margin: 0;
  padding: 1em 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.25em;
}

.App-navigation__list a {
  text-decoration: none;
  color: #007394;

  &:link, &:visited {
    color: #007394;
  }

  &:hover, &.active {
    color: #7ddefc;
  }
}